# Ignore everything not needed for the nginx static image
**/.git
**/.gitignore
**/.DS_Store
**/node_modules
**/dist
**/build
**/.cache
**/.vscode
**/.idea
**/*.log
**/README.md
**/.env
**/.env.*
**/.terraform
**/tmp
**/coverage
**/.pytest_cache
**/.venv
**/venv
**/__pycache__
